[Credentials]
; Discord Account token
; REQUIRED!
; Token = 352353u28t02ug982398tgu08fe0u209ut0ujg0j0pg3
Token =

; Token for bots.discord.pw
; Not required.
; Dbots_Token = 89fyh29ytg8923yhg98hg9wehgukwehgwehfuwugjroibujwbwoghjowejgowejge0wjgowiowjgoijweg
Dbots_Token =


[Bot]
; The ID of your own account
; REQUIRED!
; Owner_ID = 8373948360384763
Owner_ID =

; Prefix
; REQUIRED!
; Command_Prefix = k!
Command_Prefix =

; Assets home folder
; Changing this is not recommended.
home = assets/


[Reddit]
; Reddit's client id
; Not required
; PRAW_Client_ID = ayf82tj
PRAW_Client_ID =

; Reddit's client secret
; Not required
; PRAW_Client_Secret = nahfey9723994823
PRAW_Client_Secret =

; Reddit's user agent
; Not required
; PRAW_User_Agent = somebot
PRAW_User_Agent =
